@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    width: 100%;
    height: auto;
}



main {
    background: #f9f4e8;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

main section.section-1 {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 50px;
}


main section.section-1 nav {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    background: transparent;
}
main section.section-1 nav .nav-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
main section.section-1 nav .nav-main .nav-logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
main section.section-1 nav .nav-main .nav-logo a img {
    display: block;
    width: 120px;
}
main section.section-1 nav .nav-main .nav-logo a span {
    background: rgb(234,176,82);
    background: linear-gradient(24deg, rgba(234,176,82,1) 41%, rgba(234,85,115,1) 70%);
    color: #fff;
    padding: 7px 14px;
    font-size: 12px;
    border-radius: 20px;
    text-align: center;
}

main section.section-1 nav .nav-main ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
main section.section-1 nav .nav-main ul li {
    border-radius: 5px;
}
main section.section-1 nav .nav-main ul li a {
    text-decoration: none;
    display: block;
    font-weight: 500;
    color: #83817e;
    padding: 12px 15px;
    border-radius: 5px;
    transition: .2s background ease;
}
main section.section-1 nav .nav-main ul li a:hover {
    background: rgb(128 128 128 / 23%);
}
main section.section-1 nav .nav-main ul:nth-of-type(2) li:last-child a {
    color: #fff;
    font-weight: 600;
    background-color: #4977ea;
    margin-left: 10px;
}

main section.section-1 nav .nav-main .nav-mobile-menu {
    display: none;
    cursor: pointer;
}
main section.section-1 nav .nav-main .nav-mobile-menu img {
    width: 100%;
    display: block;
}



main section.section-1 nav.mobile-menu {
    padding: 0px;
    display: none;
    width: 100%;
}
main section.section-1 nav.mobile-menu.active {
    display: block;
}
main section.section-1 nav.mobile-menu .mobile-menu-main {
    width: 100%;
}

main section.section-1 nav.mobile-menu .mobile-menu-main ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}
main section.section-1 nav.mobile-menu .mobile-menu-main ul li {
    border-radius: 5px;
}
main section.section-1 nav.mobile-menu .mobile-menu-main ul li a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    padding: 12px 15px;
    border-radius: 5px;
    transition: .2s background ease;
}
main section.section-1 nav.mobile-menu .mobile-menu-main ul li a:hover {
    background: rgb(128 128 128 / 23%);
}
main section.section-1 nav.mobile-menu .mobile-menu-main ul:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #4f4f4f42;
}
main section.section-1 nav.mobile-menu .mobile-menu-main ul:last-child {
    padding-top: 10px;
}
main section.section-1 nav.mobile-menu .mobile-menu-main ul:last-child li:last-child {
    margin-top: 10px;
}
main section.section-1 nav.mobile-menu .mobile-menu-main ul:last-child li:last-child a {
    color: #fff;
    font-weight: 600;
    background-color: #664efc;
}




main section.section-1 .section-1-main {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 100px;
}
main section.section-1 .section-1-main .section-1-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
main section.section-1 .section-1-main .section-1-content .section-1-title {
    font-size: 40px;
    line-height: 42px;
}
main section.section-1 .section-1-main .section-1-content .section-1-desc, main section.section-1 .section-1-main .section-1-content .section-1-alt-txt {
    color: #83817e;
    line-height: 24px;
}
main section.section-1 .section-1-main .section-1-content .section-1-form {
    width: 100%;
    display: flex;
    column-gap: 12px;
    align-items: center;
}
main section.section-1 .section-1-main .section-1-content .section-1-form input {
    width: 230px;
    padding: 12px 15px;
    outline: none;
    border: 0px;
    font-size: 16px;
    color: #83817e;
    font-weight: 500;
    background: #fff;
}
main section.section-1 .section-1-main .section-1-content .section-1-form button {   
    color: #fff;   
    background: #4977ea;  
    outline: none;  
    border: 0px;   
    padding: 12px 15px;   
    font-size: 15px;    
    border-radius: 5px;    
    cursor: pointer;
}
main section.section-1 .section-1-main .section-1-content .section-1-alt-txt {
    display: flex;
    column-gap: 12px;
    align-items: center;
}
main section.section-1 .section-1-main .section-1-content .section-1-alt-txt img {
    display: block;
}


main section.section-1 .section-1-main .section-1-imgs {
    width: 40%;
    height: 500px;
    position: relative;
}
main section.section-1 .section-1-main .section-1-imgs .section-1-imgs-main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.section-1 .section-1-main .section-1-imgs .section-1-imgs-main img {
    width: 90%;
    display: block;
    position: absolute;
}
main section.section-1 .section-1-main .section-1-imgs .section-1-imgs-main img:nth-child(1) {
    transform: rotate(-45deg);
}
main section.section-1 .section-1-main .section-1-imgs .section-1-imgs-main img:nth-child(2) { 
    transform: rotate(-30deg);
}
main section.section-1 .section-1-main .section-1-imgs .section-1-imgs-main img:nth-child(3) {  
    transform: rotate(-15deg);
}



main section.section-1 footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main section.section-1 footer ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    column-gap: 25px;
}
main section.section-1 footer ul li a {
    text-decoration: none;
    display: block;
    font-weight: 500;
    color: #83817e;
}
main section.section-1 footer .user-content {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
main section.section-1 footer .user-content .user-img img {
    display: block;
    width: 45px;
}
main section.section-1 footer .user-content .user-details {
    display: flex;
    flex-direction: column;
}
main section.section-1 footer .user-content .user-details h5 {
    font-weight: 500;
    font-size: 14px;
}
main section.section-1 footer .user-content .user-details h4 {
    font-weight: bold;
    font-size: 16px;
}
main section.section-1 footer .user-content .user-details h4 a {
    text-decoration: none;    
    color: #000;
}





@media only screen and (max-width: 1200px) {
    main {
        height: auto;
    }
    main section.section-1 {
        width: 90%;
        height: auto;
        padding: 35px 0px;
        row-gap: 20px;
    }
    main section.section-1 .section-1-main {
        flex-direction: column-reverse;
    }
    main section.section-1 .section-1-main .section-1-content {
        width: 100%;
        row-gap: 15px;
    }
    main section.section-1 .section-1-main .section-1-imgs {
        width: 50%;
    }
    main section.section-1 footer {
        margin-top: 25px;
    }
    main section.section-1 .section-1-main .section-1-content .section-1-form input {
        width: 300px;
        padding: 15px 20px;
    }
    main section.section-1 .section-1-main .section-1-content .section-1-form button {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 900px) {
    main section.section-1 nav .nav-main .nav-mobile-menu {
        display: block;
    }
    main section.section-1 nav .nav-main ul {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    main section.section-1 .section-1-main .section-1-content {
        row-gap: 20px;
    }
    main section.section-1 .section-1-main .section-1-content .section-1-form {
        flex-direction: column;
        row-gap: 15px;
    }
    main section.section-1 .section-1-main .section-1-content .section-1-form input, main section.section-1 .section-1-main .section-1-content .section-1-form button {
        width: 100%;
    }
    main section.section-1 .section-1-main .section-1-imgs {
        width: 80%;
    }
    main section.section-1 footer {
        flex-direction: column;
        row-gap: 25px;
    }
}

/* Css Darren */

/* First page */

.center{
    font-family: "IBM Plex Sans Roman", Times;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000ff;
  }

  .col {
  
    color: #9370DB;
    margin-bottom: 1rem;
  }

.card {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    transition: all 0.2s linear;
    display: flex;
    max-width: 400px;
    height: fit-content;
  }
  
  /*
  .card:hover {
    background-color: #808080;
  }
  */

  .card--content {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  
  iframe {
    border: 0;
    width: 100%;
  }
  
  #video-player {
    mix-blend-mode: lighten;
    margin-left: 25%;
    
  }

  .video_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  h2 {
    font-size: 2rem;
  }
  
  @font-face {
    font-family: "Seurat";
    src: url("https://assets.codepen.io/4175254/FOT-Seurat+Pro+DB.otf") format("opentype");
  }

  .center2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    
    
  }
  
  .button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    position: relative;
    border-radius: 50px;
    margin-top: 2rem;
    padding: 16px 24px;
    background-color: #9370DB;
    box-shadow: inset 0 -4px 8px #443cf4, 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
    transition: transform 0.4s cubic-bezier(0.55, 1, 0.15, 1);
    will-change: transform;
  }
  .button:active {
    transform: scale(0.92);
  }
  .button:active::after {
    opacity: 1;
  }
  .button::after {
    content: "";
    position: absolute;
    inset: 0;
    border-image-source: url("https://assets.codepen.io/4175254/mario-button-borders.png");
    border-image-slice: 50%;
    border-image-width: 40px;
    border-style: solid;
    transform: scale(1.04, 1.08);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1);
    will-change: transform;
  }
  .button:focus-visible::after {
    opacity: 1;
    animation: pulsate 1s infinite;
  }
  
  .button-image{
    width: 5em;
    height: 5em;
    object-fit: contain;

  }
 

  
  @keyframes pulsate {
    0% {
      transform: scale(1.04, 1.08);
    }
    50% {
      transform: scale(1.08, 1.12);
    }
    100% {
      transform: scale(1.04, 1.08);
    }
  }

  /*first page*/

  /* Second page */
  :root {
    --duration: 2.8s;
    --loop: 0;
  }
  
  .old-page {
    position: absolute;
    inset: 0;
    background: url("/assets/space_room.jpg") center center no-repeat;
    background-size: cover;
    transform: scale(1.5);
  }
  @media (orientation: portrait) {
    .old-page {
      -webkit-mask: url("https://assets.codepen.io/907471/tail.svg?v1") center top no-repeat, url("https://assets.codepen.io/907471/space.svg?v42") center center no-repeat, url("https://assets.codepen.io/907471/ncc1701.svg") center center no-repeat;
              mask: url("https://assets.codepen.io/907471/tail.svg?v1") center top no-repeat, url("https://assets.codepen.io/907471/space.svg?v42") center center no-repeat, url("https://assets.codepen.io/907471/ncc1701.svg") center center no-repeat;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      -webkit-mask-size: 10rem 20rem, 300% 300%, 100% 30%;
              mask-size: 10rem 20rem, 300% 300%, 100% 30%;
      -webkit-animation: hide-view-portrait var(--duration) cubic-bezier(0.975, -0.005, 0, 1.02) forwards;
              animation: hide-view-portrait var(--duration) cubic-bezier(0.975, -0.005, 0, 1.02) forwards;
    }
  }
  @media (orientation: landscape) {
    .old-page {
      -webkit-mask: url("https://assets.codepen.io/907471/tail.svg?v1") center top no-repeat, url("https://assets.codepen.io/907471/space-landscape.svg?v4") center center no-repeat, url("https://assets.codepen.io/907471/ncc1701.svg") center center no-repeat;
              mask: url("https://assets.codepen.io/907471/tail.svg?v1") center top no-repeat, url("https://assets.codepen.io/907471/space-landscape.svg?v4") center center no-repeat, url("https://assets.codepen.io/907471/ncc1701.svg") center center no-repeat;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      -webkit-mask-size: 10rem 30rem, 500% 500%, 100% 30%;
              mask-size: 10rem 30rem, 500% 500%, 100% 30%;
      -webkit-animation: hide-view-landscape var(--duration) cubic-bezier(0.975, -0.005, 0, 1.02) forwards;
              animation: hide-view-landscape var(--duration) cubic-bezier(0.975, -0.005, 0, 1.02) forwards;
    }
  }
  @media (orientation: landscape) and (max-height: 300px) {
    .old-page {
      -webkit-mask-size: 10rem 10rem, 500% 500%, 100% 30%;
              mask-size: 10rem 10rem, 500% 500%, 100% 30%;
    }
  }
  
  @-webkit-keyframes hide-view-portrait {
    from {
      -webkit-mask-position: 50% 120%, 50% 0%, 50% 150%;
              mask-position: 50% 120%, 50% 0%, 50% 150%;
      transform: scale(1.5);
    }
    45% {
      transform: scale(1);
    }
    50% {
      -webkit-mask-position: 50% 120%, 50% 80%, 50% 60%;
              mask-position: 50% 120%, 50% 80%, 50% 60%;
    }
    80% {
      -webkit-mask-position: 50% -60%, 50% 140%, 50% -70%;
              mask-position: 50% -60%, 50% 140%, 50% -70%;
    }
    to {
      -webkit-mask-position: 50% -60%, 50% 140%, 50% -70%;
              mask-position: 50% -60%, 50% 140%, 50% -70%;
      transform: scale(1);
    }
  }
  
  @keyframes hide-view-portrait {
    from {
      -webkit-mask-position: 50% 120%, 50% 0%, 50% 150%;
              mask-position: 50% 120%, 50% 0%, 50% 150%;
      transform: scale(1.5);
    }
    45% {
      transform: scale(1);
    }
    50% {
      -webkit-mask-position: 50% 120%, 50% 80%, 50% 60%;
              mask-position: 50% 120%, 50% 80%, 50% 60%;
    }
    80% {
      -webkit-mask-position: 50% -60%, 50% 140%, 50% -70%;
              mask-position: 50% -60%, 50% 140%, 50% -70%;
    }
    to {
      -webkit-mask-position: 50% -60%, 50% 140%, 50% -70%;
              mask-position: 50% -60%, 50% 140%, 50% -70%;
      transform: scale(1);
    }
  }
  @-webkit-keyframes hide-view-landscape {
    from {
      -webkit-mask-position: 50% 120%, 50% 0%, 50% 150%;
              mask-position: 50% 120%, 50% 0%, 50% 150%;
      transform: scale(1.5);
    }
    45% {
      transform: scale(1);
    }
    50% {
      -webkit-mask-position: 50% 120%, 50% 72%, 50% 60%;
              mask-position: 50% 120%, 50% 72%, 50% 60%;
    }
    80% {
      -webkit-mask-position: 50% -80%, 50% 140%, 50% -70%;
              mask-position: 50% -80%, 50% 140%, 50% -70%;
    }
    to {
      -webkit-mask-position: 50% -80%, 50% 140%, 50% -70%;
              mask-position: 50% -80%, 50% 140%, 50% -70%;
      transform: scale(1);
    }
  }
  @keyframes hide-view-landscape {
    from {
      -webkit-mask-position: 50% 120%, 50% 0%, 50% 150%;
              mask-position: 50% 120%, 50% 0%, 50% 150%;
      transform: scale(1.5);
    }
    45% {
      transform: scale(1);
    }
    50% {
      -webkit-mask-position: 50% 120%, 50% 72%, 50% 60%;
              mask-position: 50% 120%, 50% 72%, 50% 60%;
    }
    80% {
      -webkit-mask-position: 50% -80%, 50% 140%, 50% -70%;
              mask-position: 50% -80%, 50% 140%, 50% -70%;
    }
    to {
      -webkit-mask-position: 50% -80%, 50% 140%, 50% -70%;
              mask-position: 50% -80%, 50% 140%, 50% -70%;
      transform: scale(1);
    }
  }
  .new-page {
    position: absolute;
    inset: 0;
    background: url("/assets/lofi_in_space.jpg") center center no-repeat, #111;
    background-size: cover;
    -webkit-animation: show var(--duration) cubic-bezier(0.975, -0.005, 0, 1.02) forwards;
            animation: show var(--duration) cubic-bezier(0.975, -0.005, 0, 1.02) forwards;
  }
  
  @-webkit-keyframes show {
    from {
      filter: saturate(0%);
      opacity: 0.4;
    }
    40% {
      filter: saturate(0%);
      opacity: 0.4;
    }
    80% {
      filter: saturate(100%);
      opacity: 1;
    }
    to {
      filter: saturate(100%);
    }
  }
  
  @keyframes show {
    from {
      filter: saturate(0%);
      opacity: 0.4;
    }
    40% {
      filter: saturate(0%);
      opacity: 0.4;
    }
    80% {
      filter: saturate(100%);
      opacity: 1;
    }
    to {
      filter: saturate(100%);
    }
  }
  body {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #ca5600;
    background: black;
    overflow: hidden;
  }
  
  .labs-follow-me {
    transform: scale(0.8) !important;
  }
  
  @media screen and (max-height: 800px) {
    :root {
      font-size: 8px;
    }
  }


  /* Second page */
  
    /* Css Darren */