<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Darren's Secret Place</title>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0,width=device-width" />
<link rel="stylesheet" href="../style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Dosis:wght@800&family=Merriweather:wght@700&family=Modak&family=Pacifico&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
</head>

<body>
<!--
Separated two div that each represent a page the old div is the look seen before the transition and 
new-page is the page seen after
-->

  <div class="new-page">
    <div class="sliding-up">

      <h1 class="beigeish_color">Bien jouer pour être arriver jusque là !</h1>
      <p class="beigeish_color fontsize">Voici une liste d'élément que j'aime bien ou qui me définissent (jeux auxquels je joue, musique que j'écoute, ce que je lis, etc) :</p>
      
      <section id="slideshow">
        <div class="entire-content">
          <div class="content-carrousel">
            <figure class="shadow"><a href="https://youtu.be/MihlCysVWNs"><img src="/assets/madara.gif" alt="Madara - Wake up to Reality"/></a></figure>
            <figure class="shadow"><a href="https://www.juujikanorokuninchapters.com"><img src="/assets/rokunin.jpg" alt="Juujika No Rokunin"/></a></figure>
            <figure class="shadow"><a href="https://kaas.am/jujutsu-kaisen-650f"><img src="/assets/itadori.gif" alt="Jujutsu Kaisen anime"/></a></figure>
            <figure class="shadow"><a href="https://zoro.to/summer-time-rendering-17500?ref=search"><img src="/assets/ajiro.gif" alt="Summer Time Rendering"/></a></figure>
            <figure class="shadow"><a href="https://www.leagueoflegends.com"><img src="/assets/Akali.png" alt="Akali"/></a></figure>
            <figure class="shadow"><a href="https://youtu.be/aRz0QZc8TDE"><img src="/assets/vegeta.gif" alt="Vegeta training"/></a></figure>
            <figure class="shadow"><a href="https://open.spotify.com/album/6XV76W17coHAKFdeyiGT08?si=nkjap2RkTd6kY-HEM0r9xg"><img src="/assets/hypochondriac.jpeg" alt="Brakence hypochondriac"/> </a></figure>
            <figure class="shadow"><a href="https://docs.google.com/document/d/123jBzFuNMWoJa73tUrCXCIVQu80pnY__mlPzmJIp0D0/edit?usp=sharing"><img src="/assets/uk-drill.gif" alt="Home studio"/></a></figure>
            <figure class="shadow"><a href="https://youtu.be/KJyIxx_bOKA?t=9"><img src="/assets/osu.png" alt="osu"/></a></figure>
                
          </div>
        </div>
      </section>
        
      <div class="center2">

        <button class="button pink-redish_color" type="button" onclick="window.location='https://chapmanganato.com/manga-kl987720'">
          <img class="button-image" src="/assets/rosen.png" alt="Rosen Garten Saga" />
          <span class="second_shared-font">Petit Bonus</span>
        </button>

        <button class="button pink-redish_color" type="button" onclick="window.location='../index.html'">
          <img class="button-image" src="/assets/tanjiro_happy.png" alt="Happy Tanjiro" />
          <span class="second_shared-font">I've seen enough get me out</span>
        </button>

      </div>
    
    </div>
      
  </div>

  <div class="old-page pointer-events-none"></div>

</body>
</html>


